@page "/bienes"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Bienes e insumos</h1>
<p>En esta sección se podrán gestionar las solicitudes que llegan desde el pañol.</p>
<hr />


@code {
    async Task ComeBack()
    {
        nav.NavigateTo("/compras");
    }
}