@page "/deposito"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Depósito</h1>
<p>En esta sección se podrá gestionar el depósito.</p>
<hr />
<button class="btn btn-outline-success" @onclick="gotorecepcion">Recepción de materiales</button>
<br />
<br />

<style>

    .asd {
        border: none;
        color: black;
        padding: 16px 32px;
        margin: 2px 1px;
        transition-duration: 0.4s;
    }

        .asd:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

    .card:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

</style>


<div class="container">
    <div class="row">

        <div class=" col-xl-3 col-md-6 mb-4">
            <div class="card border-10 " style="height:350px;">
                <div @onclick=gotomaquinas>
                    <img src="/Images/Máquinas y Herramientas.webp" class="card-img-top" alt="..." style="height:200px;">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Maquinas</h4>
                        <label>Descripción maquinas (*)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xl-3 col-md-6 mb-4">
            <div class="card border-10 " style="height:350px;">
                <div @onclick=gotoinsumos>
                    <img src="/Images/insumos.png" class="card-img-top" alt="..." style="height:200px;">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Insumos</h4>
                        <label>Descripción insumos (*)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xl-3 col-md-6 mb-4">
            <div class="card border-10 " style="height:350px;">
                <div @onclick=gotorepuestos>
                    <img src="/Images/repuestos.png" class="card-img-top" alt="..." style="height:200px;">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Repuestos</h4>
                        <label>Descripción repuestos (*)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xl-3 col-md-6 mb-4">
            <div class="card border-10 " style="height:350px;">
                <div @onclick=gotomateriaprima>
                    <img src="/Images/materiaprima.png" class="card-img-top" alt="..." style="height:200px;">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Materia prima</h4>
                        <label>Descripción materia prima (*)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    async Task gotomaquinas()
    {
        nav.NavigateTo("/maquinas");
    }
    async Task gotoinsumos()
    {
        nav.NavigateTo("/insumos");

    }
    async Task gotorepuestos()
    {
        nav.NavigateTo("/repuestos");
    }
    async Task gotomateriaprima()
    {
        nav.NavigateTo("/materiaprima");

    }
    async Task gotorecepcion()
    {
        nav.NavigateTo("/recepcionmateriales");

    }
    async Task ComeBack()
    {
        nav.NavigateTo("/");

    }
}