@page "/notas"
<h3>Notas de versiones</h3>
<a>Acá van las notas de las versiones posteadas.</a>
<hr />
<br />
<RadzenAccordion>
    <Items>
        <RadzenAccordionItem Text="Versión 1.0" Icon="account_balance_wallet">
            <p>
                Se finalizó con la etapa 1. Esto incluye lo detallado en el mail. Falta definir:
            </p>
            <li>Interacciones despiece.</li>
            <li>Interacciones materia prima.</li>
            <br />
            <p>Comentarios:</p>
            <li>Íconos reemplazados cuyos archivos son png (los que no están se veían mal).</li>
            <li>Número de orden de trabajo estaría muy bueno que lo genere el sistema, por una cuestión de visualización de estadísticas.</li>
        </RadzenAccordionItem>

    </Items>
    <Items>
        <RadzenAccordionItem Text="Versión 2.0" Icon="account_balance_wallet">
            <p>
                Se finalizó con la etapa 2. Se actualizó:
            </p>
            <li>Reforma estética.</li>
            <li>Corección de errores.</li>
            <li>Optimización de recursos.</li>
            <br />
           </RadzenAccordionItem>

    </Items>
</RadzenAccordion>
@code
{

}